# Subfolders #
##############
/Debug

# MS Compiling files #
######################
*.OPT
*.PLG
*.exe
*.bsc

# Visual Files #
################
*.DEP


# Own Files #
#############
*.dat
*.freq
*.msg
*.sta